@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    min-height: 100vh;
    /* text-transform: capitalize; */
    font-family: "Outfit", sans-serif;
}
.app{
    width: 80%;
    margin: auto;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
